<md-dialog aria-label="New list dialog">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">{{title}}</h2>
		<form name="newObj">
			<md-input-container>
				<label>{{label}}</label>
				<input required unique-list name="objName" ng-model="objName"/>
				<div ng-messages="newObj.objName.$error" ng-if="newObj.objName.$dirty || newObj.objName.$touched">
					<div ng-message="required">Name cannot be empty</div>
					<!--div ng-message="unique-list" ng-show="listNameIsUnique()">Name must not exist (caps ignored)</div-->
				</div>
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
		<md-button ng-click="answer(objName)">
			{{acceptBtn}}
		</md-button>
	</md-dialog-actions>
</md-dialog>