<md-dialog aria-label="New list dialog">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">{{title}}</h2>
		<form name="newObj">
			<md-input-container ng-if="!autocomplete">
				<label>{{label}}</label>
				<input required unique-list md-autofocus name="objNameField" ng-model="ctrl.objName"/>
				<p>{{ctrl.objName}}</p>
				<div ng-messages="newObj.objNameField.$error" ng-if="newObj.objNameField.$dirty || newObj.objNameField.$touched">
					<div ng-message="required">Name cannot be empty</div>
					<!--div ng-message="unique-list" ng-show="listNameIsUnique()">Name must not exist (caps ignored)</div-->
				</div>
			</md-input-container>
			<md-autocomplete 
					ng-if="autocomplete"
					md-autofocus
					md-search-text="ctrl.objName"
					md-items="item in querySearch(ctrl.objName)"
					md-item-text="item.display"
					md-floating-label="{{label}}">
				<span md-highlight-text="highlightAutocomplete">{{item.display}}</span>
			</md-autocomplete>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
		<md-button ng-click="answer()">
			{{acceptBtn}}
		</md-button>
	</md-dialog-actions>
</md-dialog>