<md-dialog aria-label="New list dialog">
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">Name the new list</h2>
		<form name="newList">
			<md-input-container>
				<label>List name</label>
				<input required unique-list name="listName" ng-model="listName"/>
				<div ng-messages="newList.listName.$error" ng-if="newList.listName.$dirty || newList.listName.$touched">
					<div ng-message="required">Name cannot be empty</div>
					<!--div ng-message="unique-list" ng-show="listNameIsUnique()">Name must not exist (caps ignored)</div-->
				</div>
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
		<md-button ng-click="answer(listName)">
			Add
		</md-button>
	</md-dialog-actions>
</md-dialog>